@mixin font($fw: 700, $fz: 14px, $lh: 1.14, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin flexbox($dp: flex, $ai: center, $jc: center) {
  display: $dp;
  align-items: $ai;
  justify-content: $jc;
}
@mixin visually-hidden(
  $p: absolute,
  $w: 1px,
  $h: 1px,
  $m: -1px,
  $b: 0,
  $p: 0,
  $ws: nowrap,
  $cp: inset(100%),
  $c: rect(0, 0, 0, 0),
  $o: hidden
) {
  position: $p;
  width: $w;
  height: $h;
  margin: $m;
  border: $b;
  padding: $p;
  white-space: $ws;
  clip-path: $cp;
  clip: $c;
  overflow: $o;
}
