:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --assent-color: #2196f3;
  --main-btn-color: #ffffff;
  --main-logo-second: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --batton-hover: #188ce8;
  --batton-portfolio: #f5f4fa;
  --fill-command: #f5f4fa;
  --main-background-color: #2f303a;
  --main-icon-color: #afb1b8;
}
